[user]
    name = Icaro Medeiros
    email = icaro.medeiros@gmail.com
[color]
    diff = auto
    status = auto
[push]
    default = upstream
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
