"*":
  Zen:
    gutter: true
  "atom-beautify":
    _analyticsUserId: "882ef6c4-52c3-4e73-a09c-a003d49a076f"
    general:
      _analyticsUserId: "83d031fe-a21d-4d7b-a1b1-53ce22f6e2e8"
    sql:
      indent_size: 2
  core:
    disabledPackages: [
      "linter-pep8"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "better-jellybeans-syntax"
    ]
  editor:
    fontFamily: "DejaVu Sans Mono for Powerline"
    fontSize: 19
    invisibles: {}
  "exception-reporting":
    userId: "1eb8bed9-5fb1-b88f-81c5-d36c841b5fc4"
  linter: {}
  "markdown-assistant":
    disableImageUploaderIfNotMarkdown: true
  "one-dark-ui":
    fontSize: 18
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
      "text.markdown"
      "source.markdown"
    ]
    knownWords: [
      "portuguese"
    ]
    locales: [
      "pt-BR"
      "en-US"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
