packages: [
  "atom-beautify"
  "atom-ternjs"
  "autocomplete-bibtex"
  "autocomplete-python"
  "better-jellybeans-syntax"
  "busy-signal"
  "data-atom"
  "format-sql"
  "Hive"
  "Hydrogen"
  "intentions"
  "language-docker"
  "language-pfm"
  "language-scala"
  "lint"
  "linter"
  "linter-pep8"
  "linter-pycodestyle"
  "linter-scalac"
  "linter-ui-default"
  "markdown-image-helper"
  "markdown-writer"
  "package-sync"
  "python-tools"
  "vim-mode"
  "vim-mode-visual-block"
  "vim-surround"
  "Zen"
]
