packages: [
  "atom-beautify"
  "autocomplete-bibtex"
  "better-jellybeans-syntax"
  "data-atom"
  "format-sql"
  "Hive"
  "language-docker"
  "language-pfm"
  "lint"
  "linter"
  "linter-pep8"
  "markdown-writer"
  "package-sync"
  "vim-mode"
  "vim-mode-visual-block"
  "vim-surround"
  "Zen"
]
